body{
    background-color:black;

    display:flex;
    align-items:center;
    justify-content:center;
}

input{
    padding:5px;
    margin:7px;

    border-radius:6px;
    border:4px solid black;
}

button{
    padding:4px;
    margin:6px;

    border-radius:5px;
    border:4px solid black;
}

button:hover{
    background-color:black;
    color:white;
    border:4px solid rgb(137, 136, 136);
}

.content{
    background-color:white;
    border:7px solid rgb(109, 109, 109);
    border-radius:10px;

    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    zoom:250%;
}