body{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    background-color:rgb(229, 69, 250);
}

table{
    border-collapse:collapse;
}

tr{
    background-color:pink;
}

tr:nth-child(even){
    background-color:rgb(255, 146, 164);
}

th{
    background-color:rgb(250, 59, 91);
}

.content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    background-color:pink;
    border:7px solid rgb(247, 122, 143);
    border-radius:7px;

    zoom:250%;
}