body{
    background-color:rgb(127, 127, 127);

    display: flex;
    align-items:center;
    justify-content:center;
}

tr{
    padding:5px;
}

.content{
    background-color:white;
    padding:5px;
}