body{
    background-color:black;

    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

table{
    border-collapse:collapse;
}

th{
    background-color:blueviolet;
}

tr{
    background-color:pink;
    
}

tr:nth-child(odd){
    background-color:rgb(232, 159, 172);
}

.content{
    background-color:white;
    border:8px solid rgb(113, 113, 113);
    border-radius:10px;

    display:flex;
    align-items:center;
    justify-content:center;

    zoom:250%;
}   