body{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    background-color:blue;
}

input{
    padding:5px;
    margin:4px;
}

button{
    padding:5px;
    margin:4px;
}

.content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    background-color:pink;
    border:7px solid rgb(255, 140, 159);
    border-radius:10px;

    zoom:250%;
}