body{
    background-color:rgb(255, 140, 159);

    display:flex;
    align-items:center;
    justify-content:center;
}

table{
    border-collapse:collapse;
}

th{
    background-color:rgb(247, 90, 117);
}

tr{
    background-color:pink;
}

tr:nth-child(odd){
    background-color:rgb(255, 150, 168);
}

.content{
    display:flex;
    align-items:center;
    justify-content:center;

    background-color:pink;
    border:7px solid rgb(253, 169, 183);
    border-radius:7px;

    zoom:250%;
}