body{
    background-color:rgb(19, 200, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    zoom: 200%;
}

.resultado{
    display:flex;
    border: 2px solid black;
    background-color:white;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.escondido{
    display:none;
}

.blocao{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border: 2px solid black;
    padding: 10px;
}

.bloco{
    margin: 5px;
}

.botao{
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    color: black;
}

.botao:hover{
    background-color: black;
    border: 2px solid white;
    color: white;
}