body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}
thead{
    color: white;
}

